.elevator{
    display: none;
    width: 66px;
    border: 1px solid #e6e6e6;
    border-bottom: 0;
    background-color: #fff;
    text-align: center;
    color: #333;
    position: fixed;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    .elevator_nav{
        background: #f6f6f6;
        color: #5e5e5e;
        font-size: 13px;
        font-weight: bold;
        border-bottom: 1px solid #e6e6e6;
    };
    .elevator_floor{
        border-bottom: 1px solid #e6e6e6;
        line-height: 16px;
        font-size: 12px;
        padding: 5px 0;
        cursor: pointer;
    };
    .elevator_floor:hover{
        color: #F5004B;
    };
    .on{
        color: #F5004B;
    }
};