.header_top{
    height: 33px;
    background-color: #0069aa;
    border-bottom: 1px solid #005c9d;
};
.header_center{
    height: 67px;
    background-color: #0069aa;
    border-top: 1px solid #0772b4;
};
.header_top_center{
    font-size: 12px;
    line-height: 33px;
    color: #a5c7db;
    width: 1500px;
    margin: 0 auto;
};
.welcome{
    float: left;
};
.welcome i{
    padding: 0 5px;
};
.welcome a{
    color: #fff;
};
.welcome a:hover{
    text-decoration: underline;
};
.welcome_right{
    float: right;
};
.welcome_right a{
    display: block;
    float: left;
    width: 65px;
    padding: 0 10px;
    height: 24px;
    line-height: 24px;
    margin-top: 6px;
    color: #a5c7db;
    font-family: "iconfont";
};
.welcome_right i{
    font-size: 12px;
    margin-left: 5px;
};
.line{
    float: left;
    width: 1px;
    height: 12px;
    margin-top: 10px;
    background-color: #005c9d;
};
.welcome_right a:nth-of-type(4){
    text-align: center;
};
.header_center_center{
    width: 1500px;
    margin: 0 auto;
};
.logo{
    display: block;
    width: 233px;
    height: 67px;
    float: left;
};
.logo img{
    width: 100%;
};
.address{
    width: 190px;
    height: 67px;
    float: left;
    margin-left: 20px;
    line-height: 67px;
    color: #a5c7db;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
};
.address i{
    font-family: "iconfont";
    font-size: 12px;
    margin: 0 5px;
    color: #fff;
};
.address em{
    margin-right: 5px;
    font-size: 14px;
};
.address span{
    font-size: 12px;
};
.search{
    float: right;
    margin-top: 15px;
    position: relative;
};
.search input{
    display: block;
    width: 350px;
    height: 34px;
    line-height: 34px;
    padding: 0 4px;
    background-color: #015c92;
    border: 1px solid #015789;
    border-radius: 3px;
    color: #fff;
    float: left;
};
.goods{
    display: block;
    font-family: "iconfont";
    position: relative;
    margin-left: 30px;
    width: 40px;
    height: 36px;
    float: left;
    font-size: 34px;
    color: #fff;
};
.goods_num{
    position: absolute;
    font-size: 16px;
    color: #ffc222;
    width: 35px;
    text-align: center;
    font-weight: bold;
    top: 0px;
    left: -4px;
};
.search_button{
    font-family: "iconfont";
    position: absolute;
    width: 20px;
    height: 20px;
    cursor: pointer;
    font-size: 20px;
    color: silver;
    top: 7px;
    right: 80px;
};
.height40{
    height: 40px;
};
.header_nav{
    height: 40px;
    background-color: #004b8d;
};
.header_nav_center{
    width: 1500px;
    margin: 0 auto;
};
.navbox{
    float: left;
    position: relative;
};
.navlist{
    display: block;
    color: #fff;
    line-height: 40px;
    font-size: 14px;
    padding: 0 30px;
};
.navbox:hover{
    background-color: #fff;
};
.navbox:hover .navlist{
    color: #004b8d;
};
.navbox:hover .nav2{
    display: block;
};
.nav2{
    width: 1536px;
    height: 410px;
    position: absolute;
    top: 40px;
    background-color: #f1f1f1;
    padding: 0 0 20px 20px;
    border: 2px solid #004b8d;
    border-top: 0;
    margin-left: -2px;
    display: none;
    z-index: 1000;
};
.nav2box{
    float: left;
    padding-top: 15px;
    width: 115px;
    padding-right: 10px;
};
.nav2box_top{
    height: 35px;
    margin-bottom: 8px;
    line-height: 35px;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid #333;
};
.nav2box a{
    color: #333;
};
.nav2box_bottom{
    height: 25px;
    line-height: 25px;
    font-size: 12px;
};
.nav2box a:hover{
    color: #0069aa;
};
.nav_fixed{
    position: fixed;
    top: 0;
    z-index: 1000;
    display: none;
    width: 100%;
}