.header{
    background-color: #f8f8f8;
    overflow: hidden;
    img{
        width: 100px;
        height: 100px;
        margin: 50px auto 0;
    };
    div{
        width: 190px;
        height: 30px;
        border-bottom: 1px solid #b3b3b3;
        margin: 0 auto 75px;
        position: relative;
    };
    p{
        background: #f8f8f8;
        padding: 0 20px;
        line-height: 30px;
        color: #333;
        font-size: 20px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 15px;
        white-space: nowrap;
    };
}