.header_top {
  height: 33px;
  background-color: #0069aa;
  border-bottom: 1px solid #005c9d; }

.header_center {
  height: 67px;
  background-color: #0069aa;
  border-top: 1px solid #0772b4; }

.header_top_center {
  font-size: 12px;
  line-height: 33px;
  color: #a5c7db;
  width: 1500px;
  margin: 0 auto; }

.welcome {
  float: left; }

.welcome i {
  padding: 0 5px; }

.welcome a {
  color: #fff; }

.welcome a:hover {
  text-decoration: underline; }

.welcome_right {
  float: right; }

.welcome_right a {
  display: block;
  float: left;
  width: 65px;
  padding: 0 10px;
  height: 24px;
  line-height: 24px;
  margin-top: 6px;
  color: #a5c7db;
  font-family: "iconfont"; }

.welcome_right i {
  font-size: 12px;
  margin-left: 5px; }

.line {
  float: left;
  width: 1px;
  height: 12px;
  margin-top: 10px;
  background-color: #005c9d; }

.welcome_right a:nth-of-type(4) {
  text-align: center; }

.header_center_center {
  width: 1500px;
  margin: 0 auto; }

.logo {
  display: block;
  width: 233px;
  height: 67px;
  float: left; }

.logo img {
  width: 100%; }

.address {
  width: 190px;
  height: 67px;
  float: left;
  margin-left: 20px;
  line-height: 67px;
  color: #a5c7db;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.address i {
  font-family: "iconfont";
  font-size: 12px;
  margin: 0 5px;
  color: #fff; }

.address em {
  margin-right: 5px;
  font-size: 14px; }

.address span {
  font-size: 12px; }

.search {
  float: right;
  margin-top: 15px;
  position: relative; }

.search input {
  display: block;
  width: 350px;
  height: 34px;
  line-height: 34px;
  padding: 0 4px;
  background-color: #015c92;
  border: 1px solid #015789;
  border-radius: 3px;
  color: #fff;
  float: left; }

.goods {
  display: block;
  font-family: "iconfont";
  position: relative;
  margin-left: 30px;
  width: 40px;
  height: 36px;
  float: left;
  font-size: 34px;
  color: #fff; }

.goods_num {
  position: absolute;
  font-size: 16px;
  color: #ffc222;
  width: 35px;
  text-align: center;
  font-weight: bold;
  top: 0px;
  left: -4px; }

.search_button {
  font-family: "iconfont";
  position: absolute;
  width: 20px;
  height: 20px;
  cursor: pointer;
  font-size: 20px;
  color: silver;
  top: 7px;
  right: 80px; }

.height40 {
  height: 40px; }

.header_nav {
  height: 40px;
  background-color: #004b8d; }

.header_nav_center {
  width: 1500px;
  margin: 0 auto; }

.navbox {
  float: left;
  position: relative; }

.navlist {
  display: block;
  color: #fff;
  line-height: 40px;
  font-size: 14px;
  padding: 0 30px; }

.navbox:hover {
  background-color: #fff; }

.navbox:hover .navlist {
  color: #004b8d; }

.navbox:hover .nav2 {
  display: block; }

.nav2 {
  width: 1536px;
  height: 410px;
  position: absolute;
  top: 40px;
  background-color: #f1f1f1;
  padding: 0 0 20px 20px;
  border: 2px solid #004b8d;
  border-top: 0;
  margin-left: -2px;
  display: none;
  z-index: 1000; }

.nav2box {
  float: left;
  padding-top: 15px;
  width: 115px;
  padding-right: 10px; }

.nav2box_top {
  height: 35px;
  margin-bottom: 8px;
  line-height: 35px;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid #333; }

.nav2box a {
  color: #333; }

.nav2box_bottom {
  height: 25px;
  line-height: 25px;
  font-size: 12px; }

.nav2box a:hover {
  color: #0069aa; }

.nav_fixed {
  position: fixed;
  top: 0;
  z-index: 1000;
  display: none;
  width: 100%; }

.footer {
  background-color: #ebebeb;
  color: #666;
  border-top: 30px #e6e6e6 solid;
  font-size: 12px;
  margin-top: 300px; }

.footer_center {
  width: 1500px;
  margin: 0 auto;
  margin-top: -30px; }

.footerlogo {
  width: 16%;
  float: left;
  padding-bottom: 30px; }

.footerlogo img {
  width: 120px;
  height: 120px;
  margin: 0 auto; }

.footerlogo p {
  line-height: 20px;
  text-align: center; }

.footer_navbox {
  width: 14%;
  float: left;
  padding-bottom: 30px; }

.fnb_first {
  display: block;
  color: #333;
  line-height: 30px; }

.margintop_15 {
  margin-top: 15px; }

.margintop_15 a {
  display: block;
  line-height: 25px;
  color: #666; }

.footer_nav a:hover {
  color: #0069aa; }

.footer_bottom {
  padding-bottom: 40px; }

.footer_bottom p {
  text-align: center;
  line-height: 30px; }

.footer_bottom img {
  display: inline-block; }

.footer_bottom a {
  color: #666; }

.footer_bottom a:hover {
  color: #0069aa; }

input {
  margin: 0;
  padding: 0; }

.center {
  width: 1200px;
  margin: 0 auto; }
.center .mycart {
  line-height: 50px;
  font-size: 20px;
  color: #0069aa;
  padding-top: 40px;
  font-weight: bold; }
.center .cart_box {
  border: 1px solid #e3e3e3; }
.center .cart_box .cart_header {
  line-height: 30px;
  padding: 10px 15px;
  border-bottom: 1px solid #e3e3e3;
  font-size: 18px;
  font-weight: bold;
  color: #666;
  font-family: "iconfont";
  background-color: #fafafa; }
.center .cart_box .cart_header i {
  margin-right: 5px;
  font-size: 30px;
  vertical-align: middle;
  font-weight: normal; }
.center .cart_box .list_header {
  overflow: hidden;
  color: #666;
  font-size: 12px;
  line-height: 50px; }
.center .cart_box .list_header .chkbox {
  padding: 18px;
  float: left; }
.center .cart_box .list_header .chkbox .chk {
  margin: 0;
  padding: 0;
  display: block;
  width: 14px;
  height: 14px; }
.center .cart_box .list_header p {
  float: left;
  text-align: center; }
.center .cart_box .list_header .info {
  width: 325px; }
.center .cart_box .list_header .price, .center .cart_box .list_header .num, .center .cart_box .list_header .weight, .center .cart_box .list_header .total, .center .cart_box .list_header .oper {
  width: 160px; }
.center .cart_box .list_footer {
  overflow: hidden;
  border-top: 1px solid #e3e3e3;
  background: #f8f8f8;
  font-size: 12px; }
.center .cart_box .list_footer .deleteall {
  float: left;
  width: 200px;
  text-align: center; }
.center .cart_box .list_footer .deleteall a {
  color: #0069aa;
  line-height: 60px; }
.center .cart_box .list_footer .settle, .center .cart_box .list_footer .total-price {
  float: right; }
.center .cart_box .list_footer .settle {
  display: block;
  width: 120px;
  line-height: 60px;
  font-size: 18px;
  background: #6cae38;
  color: #fff;
  text-align: center; }
.center .cart_box .list_footer .total-price {
  height: 40px;
  padding: 10px 0;
  margin-right: 20px;
  line-height: 20px; }
.center .cart_box .list_footer .total-price .num {
  margin: 0 5px;
  color: #0069aa;
  font-size: 14px;
  font-weight: bold; }
.center .cart_box .list_footer .total-price .num span {
  font-size: 18px; }
.center .cart_box .list_center .list_card {
  height: 90px;
  padding: 20px 0;
  border-top: 1px solid #f7f7f7;
  overflow: hidden; }
.center .cart_box .list_center .list_card .num-box {
  overflow: hidden;
  float: left; }
.center .cart_box .list_center .list_card .num-box input {
  display: block;
  float: left; }
.center .cart_box .list_center .list_card .chkbox {
  float: left;
  width: 50px;
  text-align: center; }
.center .cart_box .list_center .list_card .chkbox .chk {
  width: 14px;
  height: 14px; }
.center .cart_box .list_center .list_card .info {
  float: left;
  width: 325px; }
.center .cart_box .list_center .list_card .info img {
  float: left; }
.center .cart_box .list_center .list_card .info p {
  height: 40px;
  line-height: 20px;
  margin-left: 105px;
  font-size: 12px; }
.center .cart_box .list_center .list_card .unit-price, .center .cart_box .list_center .list_card .num-box, .center .cart_box .list_center .list_card .weight, .center .cart_box .list_center .list_card .total, .center .cart_box .list_center .list_card .delete {
  text-align: center;
  width: 160px;
  float: left; }
.center .cart_box .list_center .list_card .unit-price {
  font-size: 14px; }
.center .cart_box .list_center .list_card .num-box .addbox {
  width: 108px;
  overflow: hidden;
  border: 1px solid #dfdfdf;
  height: 26px;
  border-radius: 2px;
  line-height: 26px;
  margin: 0 auto; }
.center .cart_box .list_center .list_card .num-box .addbox div, .center .cart_box .list_center .list_card .num-box .addbox input {
  display: block;
  float: left;
  text-align: center; }
.center .cart_box .list_center .list_card .num-box .addbox div {
  width: 26px;
  font-size: 16px;
  cursor: pointer; }
.center .cart_box .list_center .list_card .num-box .addbox input {
  width: 54px;
  height: 18px;
  border: 1px solid #dfdfdf;
  border-top: 0;
  border-bottom: 0;
  margin-top: 3px; }
.center .cart_box .list_center .list_card .weight {
  font-size: 12px; }
.center .cart_box .list_center .list_card .total {
  font-weight: bold;
  color: #0069aa; }
.center .cart_box .list_center .list_card .delete {
  font-family: "iconfont"; }
.center .cart_box .list_center .list_card .delete a {
  color: #666; }

/*# sourceMappingURL=cart.css.map */
