body {
  background: #f8f8f8; }

.header_top {
  height: 33px;
  background-color: #0069aa;
  border-bottom: 1px solid #005c9d; }

.header_center {
  height: 67px;
  background-color: #0069aa;
  border-top: 1px solid #0772b4; }

.header_top_center {
  font-size: 12px;
  line-height: 33px;
  color: #a5c7db;
  width: 1500px;
  margin: 0 auto; }

.welcome {
  float: left; }

.welcome i {
  padding: 0 5px; }

.welcome a {
  color: #fff; }

.welcome a:hover {
  text-decoration: underline; }

.welcome_right {
  float: right; }

.welcome_right a {
  display: block;
  float: left;
  width: 65px;
  padding: 0 10px;
  height: 24px;
  line-height: 24px;
  margin-top: 6px;
  color: #a5c7db;
  font-family: "iconfont"; }

.welcome_right i {
  font-size: 12px;
  margin-left: 5px; }

.line {
  float: left;
  width: 1px;
  height: 12px;
  margin-top: 10px;
  background-color: #005c9d; }

.welcome_right a:nth-of-type(4) {
  text-align: center; }

.header_center_center {
  width: 1500px;
  margin: 0 auto; }

.logo {
  display: block;
  width: 233px;
  height: 67px;
  float: left; }

.logo img {
  width: 100%; }

.address {
  width: 190px;
  height: 67px;
  float: left;
  margin-left: 20px;
  line-height: 67px;
  color: #a5c7db;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.address i {
  font-family: "iconfont";
  font-size: 12px;
  margin: 0 5px;
  color: #fff; }

.address em {
  margin-right: 5px;
  font-size: 14px; }

.address span {
  font-size: 12px; }

.search {
  float: right;
  margin-top: 15px;
  position: relative; }

.search input {
  display: block;
  width: 350px;
  height: 34px;
  line-height: 34px;
  padding: 0 4px;
  background-color: #015c92;
  border: 1px solid #015789;
  border-radius: 3px;
  color: #fff;
  float: left; }

.goods {
  display: block;
  font-family: "iconfont";
  position: relative;
  margin-left: 30px;
  width: 40px;
  height: 36px;
  float: left;
  font-size: 34px;
  color: #fff; }

.goods_num {
  position: absolute;
  font-size: 16px;
  color: #ffc222;
  width: 35px;
  text-align: center;
  font-weight: bold;
  top: 0px;
  left: -4px; }

.search_button {
  font-family: "iconfont";
  position: absolute;
  width: 20px;
  height: 20px;
  cursor: pointer;
  font-size: 20px;
  color: silver;
  top: 7px;
  right: 80px; }

.height40 {
  height: 40px; }

.header_nav {
  height: 40px;
  background-color: #004b8d; }

.header_nav_center {
  width: 1500px;
  margin: 0 auto; }

.navbox {
  float: left;
  position: relative; }

.navlist {
  display: block;
  color: #fff;
  line-height: 40px;
  font-size: 14px;
  padding: 0 30px; }

.navbox:hover {
  background-color: #fff; }

.navbox:hover .navlist {
  color: #004b8d; }

.navbox:hover .nav2 {
  display: block; }

.nav2 {
  width: 1536px;
  height: 410px;
  position: absolute;
  top: 40px;
  background-color: #f1f1f1;
  padding: 0 0 20px 20px;
  border: 2px solid #004b8d;
  border-top: 0;
  margin-left: -2px;
  display: none;
  z-index: 1000; }

.nav2box {
  float: left;
  padding-top: 15px;
  width: 115px;
  padding-right: 10px; }

.nav2box_top {
  height: 35px;
  margin-bottom: 8px;
  line-height: 35px;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid #333; }

.nav2box a {
  color: #333; }

.nav2box_bottom {
  height: 25px;
  line-height: 25px;
  font-size: 12px; }

.nav2box a:hover {
  color: #0069aa; }

.nav_fixed {
  position: fixed;
  top: 0;
  z-index: 1000;
  display: none;
  width: 100%; }

.footer {
  background-color: #ebebeb;
  color: #666;
  border-top: 30px #e6e6e6 solid;
  font-size: 12px;
  margin-top: 300px; }

.footer_center {
  width: 1500px;
  margin: 0 auto;
  margin-top: -30px; }

.footerlogo {
  width: 16%;
  float: left;
  padding-bottom: 30px; }

.footerlogo img {
  width: 120px;
  height: 120px;
  margin: 0 auto; }

.footerlogo p {
  line-height: 20px;
  text-align: center; }

.footer_navbox {
  width: 14%;
  float: left;
  padding-bottom: 30px; }

.fnb_first {
  display: block;
  color: #333;
  line-height: 30px; }

.margintop_15 {
  margin-top: 15px; }

.margintop_15 a {
  display: block;
  line-height: 25px;
  color: #666; }

.footer_nav a:hover {
  color: #0069aa; }

.footer_bottom {
  padding-bottom: 40px; }

.footer_bottom p {
  text-align: center;
  line-height: 30px; }

.footer_bottom img {
  display: inline-block; }

.footer_bottom a {
  color: #666; }

.footer_bottom a:hover {
  color: #0069aa; }

.banner_center {
  width: 1500px;
  margin: 0 auto;
  height: 400px;
  position: relative; }

.banner_center img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.banner_nav {
  position: absolute;
  bottom: 6px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer; }

.banner_nav div {
  float: left;
  background: #fff;
  padding: 0 20px;
  line-height: 34px;
  opacity: 0.9;
  font-size: 12px; }

.banner_nav div:last-child {
  margin-left: 4px; }

.banner_nav .active {
  background-color: #004b8d;
  color: #fff; }

.floor {
  padding: 30px 0;
  text-align: center;
  font-size: 18px;
  font-weight: bold; }

.only_for_you_center, .best_buy_center {
  width: 1500px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background: #fff; }

.only_for_you_box_first, .only_for_you_box, .best_buy_box_first, .best_buy_box {
  height: 305px;
  width: 250px; }

.only_for_you_box_first {
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0; }

.only_for_you_box_first {
  background: url(../img/member_bg.png); }

.only_for_you_box_first img {
  width: 80px;
  height: 80px;
  margin: 30px auto 0; }

.only_for_you_box_first p {
  font-size: 14px;
  font-weight: bold;
  margin-top: 25px;
  text-align: center;
  color: #fff; }

.member_list {
  margin-left: 250px;
  width: 1500px; }

.only_for_you_box, .best_buy_box {
  position: relative;
  float: left; }

.only_for_you_box a, .best_buy_box a {
  position: absolute;
  display: block;
  margin: 12px;
  width: 226px;
  height: 281px;
  top: 0; }

.only_for_you_box img, .best_buy_box img {
  width: 226px;
  height: 226px;
  margin-bottom: 5px; }

.only_for_you_box p, .best_buy_box p {
  width: 92%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  color: #333;
  padding: 5px 8px; }

.price {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #333; }

.floor_best {
  padding-bottom: 30px;
  text-align: center;
  font-size: 18px;
  font-weight: bold; }

.best_buy_list {
  margin-left: 250px; }

.best_buy_box_first {
  background: url(http://d7.samsclub-estore.com/N08/M08/A5/E1/ChEi1FsLqBSAILkqAABSSh3E8vI71500.jpg) no-repeat;
  position: absolute;
  left: 0;
  top: 0; }

.best_buy {
  margin-bottom: 30px; }

.best_buy_title {
  display: block;
  font-size: 24px;
  padding: 0 20px;
  margin-bottom: 10px;
  margin-top: 30px;
  color: #fff;
  font-weight: bold; }

.best_buy_title2 {
  padding-left: 20px;
  font-size: 18px;
  color: #fff; }

.fresh_list {
  position: absolute;
  width: 250px;
  bottom: 0;
  left: 0;
  overflow: hidden; }

.fresh_list p {
  width: 50%;
  float: left;
  text-align: center; }

.fresh_list a {
  color: #eee;
  font-size: 12px;
  line-height: 20px; }

.elevator {
  display: none;
  width: 66px;
  border: 1px solid #e6e6e6;
  border-bottom: 0;
  background-color: #fff;
  text-align: center;
  color: #333;
  position: fixed;
  left: 50px;
  top: 50%;
  transform: translateY(-50%); }
.elevator .elevator_nav {
  background: #f6f6f6;
  color: #5e5e5e;
  font-size: 13px;
  font-weight: bold;
  border-bottom: 1px solid #e6e6e6; }
.elevator .elevator_floor {
  border-bottom: 1px solid #e6e6e6;
  line-height: 16px;
  font-size: 12px;
  padding: 5px 0;
  cursor: pointer; }
.elevator .elevator_floor:hover {
  color: #F5004B; }
.elevator .on {
  color: #F5004B; }

/*# sourceMappingURL=index.css.map */
